*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 5%;
    height: 5px;
	flex-wrap: wrap;
}
.header a{
	color: #880e4f;
	text-decoration: none;
	font-size: 110%;
	font-weight: bold;
}
.header ul{
	margin-left: 35%;
}
.header li{
	float: left;
	display: inline;
	padding: 0 17px 0 17px;
}
.header li:hover{
	transition: 3s;
	background-color: gray;
	opacity: 0.9;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.header #divH1{
	height: 40px;
	width: 50px;
	float: left;
}
.header nav{
	float:right;
	margin-top: 20px;
	margin-top: 6%; 
	margin-right: 7%;
}
.nav{
	width: 100%;
	height: 25px;
	margin-top: 5px;
}
#divH1 img {
	width: 15%; 
	margin-top: -3%;
	margin-bottom: -3%;
	margin-left: 5%;
	margin-top: 3%;
}



#logo{
    display: flex;
}
#foto{
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 5%;
    height: 250px;
    width: 250px;
}
.formulari{
    margin-left: 25%;
    padding: 80px;
}
input[type=text], [type=email],select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=text], [type=email]{
    width: 60%;
}
button{
    background-color: rgb(48, 156, 48);
    color: grey;
    width: 120px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 700px;
    border-radius: 4px;
    border: 1px solid  #ccc;
}
button:hover{
    background-color: #5fca64;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.label{
    float: left;
    width: 10%;
    margin-top: 6px;
}
.label1{
    float: left;
    width: fit-content;
    margin-top: 6px;
}
.input{
    width: 70%;
    margin-top: 6px;
}

#select{
    width: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    width: 100%;
    height: 40px;
    }

#footer h2{
    text-align: center;
    color: #880e4f;
    font-size: 20px;    
    }

#footer p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    }

#lastFooter {
    width: 100%;
    height: 30px;
    }

 #lastFooter p {
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    color:#880e4f;
    }




@media only screen 
    and (device-width : 768px) 
    and (device-height : 1024px) {

         
    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 110%;
        left: 5%;
        height: 5px;
        flex-wrap: wrap;
    }    
    .header a{
        color: #880e4f;
        text-decoration: none;
        font-size: 100%;
        font-weight: bold;
    }
    .header ul{
        margin-left: 5%;
    }
    .header li{
        float: left;
        display: inline;
        padding: 0 5px 0 10px;
    }
    .header li:hover{
        transition: 3s;
        background-color: gray;
        opacity: 0.9;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .header #divH1{
        height: 30px;
        width: 40px;
        float: left;
    }
    .header nav{
        float:right;
        margin-top: 20px;
        margin-top: 6%; 
        margin-right: 7%;
    }
    .nav{
        width: 100%;
        height: 25px;
        margin-top: 5px;
    }


    /*---------------content---------------*/


    #foto{
        margin-top: 12%;
    }
 
    .formulari{
        align-content: space-between;
    }
 
    .label {
        padding-right: 20%;

    } 
    
    .label1{
         width: fit-content;
    }
 
    .input{
        width: 100%;
    }
 
    #select{
        width: fit-content;
        margin-left: 53px;
    }
 
    #button{
     width: 110px;
     margin-left: 290px;
    }
 
 
    #footer {
     width: 100%;
     height: 40px;
     }
 
     #footer h2{
     text-align: center;
     color: #880e4f;
     font-size: 20px;    
     }
 
     #footer p {
     text-align: center;
     font-weight: bold;
     font-size: 15px;
     }
 
     #lastFooter {
     width: 100%;
     height: 30px;
     }
 
     #lastFooter p {
     text-align: center;
     font-weight: bold;
     font-size: 100%;
     color:#880e4f;
     }
 
 }
